# 忽略 Visual Studio 临时文件和文件夹
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa]rtifacts/

# 忽略所有 .suo 和 .user 文件
*.suo
*.user
*.userosscache
*.sln.docstates

# 忽略 VS Code 文件夹
.vscode/

# 忽略vs
.vs

# 忽略 Visual Studio 代码分析结果文件
*.opendb
*.VC.db
*.VC.VC.opendb

# 忽略项目文件夹中的 Build 结果
[Bb]uild/

# 忽略 NuGet 包文件
packages/
*.nupkg
# 忽略 NuGet Symbol 包
*.snupkg
# 包含 NuGet 配置文件
!**/packages/build/
!**/packages/buildTransitive/
*.nuget.props
*.nuget.targets

# 忽略 Resharper / Rider 相关目录
.idea/
*.resharper
*.DotSettings.user

# 忽略 Rider Mono/Xamarin 项目缓存路径
.mono/
.xamarin/

# 忽略 Windows image 文件
Thumbs.db
ehthumbs.db

# 忽略 Mac 系统文件
.DS_Store

# 忽略 ASP.NET Scaffolding 生成的文件
ScaffoldingReadMe.txt

# 忽略 ASP.NET 用户文件
*.mdf
*.ldf
*.ndf

# 忽略常见的密钥文件
*.pfx
*.cert

# 忽略本地配置文件
conf.yaml

# 忽略其他不需要的文件
*.bak
*.swp
*~
*.log
*.csv
*.dat
*.db
*.dbf
*.mdb
*.sql
*.sqlite
*.sqlite3
*.asc
*.tmp
*.temp
*.tst
